header {
    width: 100%;
    height: 10vh;
    font-size: 5vmin;
}

header div {
    display: inline-block;
    height: 100%;
}

header #left {
    vertical-align: middle;
    float: left;
    margin-left: 3vmin;
}

header #right {
    vertical-align: middle;
    float: right;
    margin-right: 10vmin;
}

header #left img {
    height: 10vmin;
    width: 10vmin;
    position: relative;
    z-index: 10;
    border-radius: 50px;
    cursor: pointer;
}

header #right img {
    mix-blend-mode: darken;
    height: 4.5vmin;
    width: 6vmin;
    position: relative;
    z-index: 10;
}

header text {
    display: inline-block;
    position: relative;
}

header #username, header #balance {
    cursor: pointer;
    vertical-align: middle;
}