header {
    width: 100%;
    height: 15vh;
    font-size: 5vmin;
}

header div {
    display: inline-block;
    height: 100%;
}

header #right {
    vertical-align: middle;
    float: right;
    margin-right: 10vmin;
}

header img {
    mix-blend-mode: multiply;
    height: 5vmin;
    width: 6vmin;
    position: relative;
    z-index: 10;
}

header text {
    position: relative;
}