header button {
    float: right;
    text-align: center;
    border-radius: 16px;
    width: 20vmin;
    height: 6vh;
    font-size: 3vmin;
    background: rgba(62, 45, 113, 0.42);
    transition: 300ms;
}