main {
    text-align: center;
}

::-webkit-input-placeholder {
    color: #FFDE88;
}

main form {
    display: inline-block;
    margin-top: 3vh;
}

main form #content {
    padding: 2vmin;
    display: inline-block;
    width: 75vw;
    height: 57vh;
    background: rgba(62, 45, 113, 0.42);
    border-radius: 16px;
    max-height: 100%;
}

main form #content > div {
    width: 98%;
    padding: 1vh;
    background: transparent;
}

main #back_button {
    position: absolute;
    font-size: 5vmin;
    margin-left: 3vw;
    cursor: pointer;
    transition: 300ms;
}

main #back_button:hover {
    color: #16ece6;
    transition: 300ms;
}

main #topic {
    height: 5vmin;
    width: 98vw;
    vertical-align: middle;
}

main #back_arrow {
    float: bottom;
    height: 4vmin;
}

main form input, main form select, main form textarea {
    background: transparent;
}

main form input[type=text] {
    padding: 2vmin;
    border-radius: 16px;
    font-size: 3vmin;
    width: 80%;
    outline: none;
    transition: 300ms;
}

main form input[type=text]:hover:not(main form input[type=text]:focus), main form textarea:hover:not(main form textarea:focus) {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    transition: 300ms;
}

main form input[type=text]:focus, main form textarea:focus {
    background: rgba(62, 45, 113, 0.62);
    transition: 300ms;
}

main form button[type=submit] {
    margin-top: 3vh;
    border-radius: 16px;
    background: rgba(62, 45, 113, 0.42);
    font-size: 3vmin;
    cursor: pointer;
    padding: 1vmin;
    transition: 300ms;
}

main form button[type=submit]:hover {
    transform: scale(1.2);
    background: rgba(62, 45, 113, 0.82);
    color: #16ece6;
    transition: 300ms;
}

main form #audio_text_block {
    height: 13vh;
}

main form textarea {
    outline: none;
    font-size: 3vmin;
    border-radius: 16px;
    padding: 2vmin;
    resize: none;
    width: 80%;
    height: 80%;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.mult-select-tag .drawer {
    background: rgb(54 33 88);
}

.mult-select-tag {
    background: rgba(255, 255, 255, 0.2);
}

.mult-select-tag .body {
    background: transparent;
}

main form input[type=file] {
    padding: 2vmin;
}