main #topic {
    height: 5vh;
    margin-left: 3vw;
    text-align: left;
}

main #back_button {
    position: absolute;
    font-size: 5vmin;
    margin-left: 3vw;
    cursor: pointer;
    transition: 300ms;
}

main #back_button:hover {
    color: #16ece6;
    transition: 300ms;
}

main #back_arrow {
    float: bottom;
    height: 4vmin;
}

main #content {
    margin-top: 5vh;
}

main #left {
    display: inline-block;
    width: 40vw;
    text-align: center;
    float: left;
}

main #right {
    border-radius: 16px;
    background: rgba(62, 45, 113, 0.42);
    font-size: 4vmin;
    display: inline-block;
    width: 50vw;
}

main .hover_span {
    cursor: pointer;
    transition: 300ms;
}

main .hover_span:hover {
    color: #16ece6;
    transition: 300ms;
}

main #audio_text {
    font-size: 2vmin;
}

main #information_block {
    margin-top: 1vh;
    text-align: center;
    margin-bottom: 2vh;
}

main .playlist_info {
    padding: 2vmin;
}

main #image {
    width: 28vw;
    height: 44vh;
    text-align: center;
    word-wrap: break-word;
    margin-left: 9vw;
    border-radius: 16px;
}

main #left img {
    border-radius: 16px;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    object-fit: cover;
    height: 44vh;
}

main #genres {
    padding: 2vmin;
    display: inline-block;
    width: 25vw;
    margin-top: 2vh;
    background: rgba(62, 45, 113, 0.42);
    border-radius: 16px;
}

main #top, main #bottom {
    display: inline-block;
    width: 98vw;
}

main #bottom {
    margin-top: 2vh;
    text-align: center;
}

main #text {
    width: 81%;
    margin-left: 1%;
    margin-top: 2vh;
    text-align: center;
    background: rgba(62, 45, 113, 0.42);
    border-radius: 16px;
    padding: 2vmin;
    display: inline-block;
}

main #label_text {
    font-size: 4vmin;
}

main #audios {
    text-align: center;
}

main .audio_block {
    width: 82%;
    text-align: left;
    padding: 1vmin;
    display: inline-block;
    border-radius: 10px;
    margin-top: 1vmin;
    margin-bottom: 1vmin;
    margin-left: 1vw;
    background: rgba(62, 45, 113, 0.42);
    cursor: pointer;
    transition: 300ms;
}

main .audio_block:hover {
    background: rgba(62, 45, 113, 0.82);
    transition: 300ms;
}

main .audio_cell {
    display: inline-block;
    border: none;
    padding: 1vmin;
    vertical-align: middle;
}

main .audio_cell img {
    display: block;
    margin: 0 auto;
    width: 4.5vw;
    height: 8vh;
    object-fit: cover;
}

main .text {
    font-size: 3vmin;
}

main .elem_author, .username {
    cursor: pointer;
    transition: 300ms;
}

main .image {
    width: 6vw;
}

main .name_authors {
    text-align: left;
}

main .elem_name {
    font-size: 4vmin;
}

main .elem_authors {
    font-size: 3vmin;
}

main .numeration {
    display: inline-block;
}
