main #left {
    display: inline-block;
    margin-left: 5vw;
    float: left;
    width: 55vw
}

main #right {
    display: inline-block;
    margin-left: 5vw;
    width: 30vw;
}

main .block:not(#avatar) {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
}

main div {
    color: #FFDE88;
}

main #left > div:not(:first-of-type), main #right > div:not(:first-of-type) {
    margin-top: 3vh;
    word-wrap: break-word;
    text-align: center;
}

main #username_text {
    text-align: center;
    font-size: 10vmin;
}

main #user_mood > div {
    word-wrap: break-word;
    text-align: center;
    padding: 1vh;
}

main #avatar {
    height: 30vh;
}

main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

main #edit_follow {
    cursor: pointer;
    transition: 300ms;
}

main #edit_follow:hover {
    box-shadow: 0 0 2px 1px purple;
    transition: 300ms;
}

main #user_info span, main #edit_follow span {
    cursor: pointer;
    padding: 1.5vh;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    transition: 300ms;
}

main #user_info span:hover {
    transform: scale(1.2);
    color: #72065f;
    transition: 300ms;
}