main .container div {
    float: left;
    margin-bottom: 2vh;
}

main .left {
    margin-left: 5vw;
    float: left;
    width: 55vw
}

main .right {
    margin-right: 5vw;
    float: right;
    width: 30vw;
}

main .up {
    height: 100px;
}

main .down {
    margin-top: 5vh;
    height: 200px;
}

main #up-left {
    background: #FFDE88;
    text-align: center;
    display: flex;
}

main #up-right {
    background: lawngreen;
}

main #down-left {
    background: purple;
}

main #down-right {
    background: white;
}

main img {
    width: 30px;
    height: 30px;
}

main text {
    z-index: 100;
    font-size: 10vmin;
    color: deeppink;
}